.row.align-items-center
  .col-md-3
    img.img-fluid.rounded-circle(src='../docs/assets/images/my_photo.jpg' alt='Денис Левченко')

  .col-md-9
    h1 Денис Левченко
    p.text-muted Senior Backend Developer | Казань, Россия
    p
      strong Тел:
      | +79673781682
      br
      strong Email:
      | denfrut8@gmail.com
    p
      a(href='https://www.linkedin.com/in/denis-nikolaevich-levchenko' target='_blank' class='btn btn-primary btn-sm me-2') LinkedIn
      a(href='https://github.com/leva84' target='_blank' class='btn btn-dark btn-sm') GitHub
