body {
    font-family: Arial, sans-serif;
    background-color: #b2cfec;
}

h1, h2 {
    color: #b89406;
}

.timeline {
    list-style: none;
    padding-left: 20px;
}

.timeline-event {
    margin-bottom: 15px;
}

.timeline-event h5 {
    margin-bottom: 5px;
}

.rounded-circle {
    border: 5px solid #b89406;
}
