@import url('css/header.css');
@import url('css/about.css');

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: rgba(99, 242, 253, 0.19);
    color: #333;
}

h1, h2 {
    margin-bottom: 20px;
}

.img-fluid {
    border: 5px solid #ddd;
}

.accordion-button:not(.collapsed) {
    background-color: #b2cfec;
    color: #333;
}
